<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--唯一文件标识-->
<mapper namespace="myBatis.mapper.UserMapper">
    <!--唯一语句标识-->
    <insert id="addUser" parameterType="User">
        <choose>
            <when test="uid == null or name == null or password == null or role == null or status == null">
                insert into user (uid, name, password, role, status)
                values (0, '0', '0', '0', '0')
            </when>
            <otherwise>
                insert into user (uid, name, password, role, status)
                values (#{uid}, #{name}, #{password}, #{role}, #{status})
            </otherwise>
        </choose>
    </insert>
    <delete id="deleteUserById">
        delete
        from user
        where uid = #{uid}
    </delete>
    <delete id="deleteAllUser">
        delete
        from user
    </delete>
    <update id="updateUser">
        update user
        set name = #{name},
        password = #{password},
        role = #{role}
        WHERE uid = #{uid}
    </update>
    <select id="queryUserById" resultType="User">
        select *
        from user
        where uid = #{uid}
    </select>
    <select id="queryAllUser" resultType="User">
        select *
        from user;
    </select>
</mapper>